<ion-header class="ion-no-border">
  <ion-list lines="none">
   
    <ion-item color="primary">
      <ion-icon name='chevron-back-outline' (click)="tab()"></ion-icon>
      <ion-label>Temperature </ion-label>
      <ion-avatar slot="end">
        <img src="assets/logo.png" />
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  
    <ion-button expand ="block">Get temperature </ion-button>
  </ion-card>
</ion-content>