<ion-header>
  <ion-toolbar>
    <ion-title>Field</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row>
    <img src="../../assets/green.png" class="logo" />

    
      <ion-card
      *ngFor="let field of fields;" 
    (click)="getParcelById(field.idField)">
    
        <ion-card-header >
          <ion-item lines="none">
            <p>{{ field.name }}</p>
            <span>{{ field.idField }}</span>
          </ion-item>
        
        </ion-card-header>
      
      </ion-card>
    
  </ion-row>
</ion-grid>
</ion-content>