
<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>Login</h4>

    <p>Lets get started</p>
  </div>
  <form [formGroup]="login" (ngSubmit)="SignIn()">
  <fieldset  class="input-item">
    <legend>Username</legend> 
    <ion-input  placeholder="Alex" formControlName="username"></ion-input>
  </fieldset>
  <fieldset  class="input-item">
    <legend>Password</legend> 
    <ion-input type="password" placeholder="********" formControlName="password"></ion-input>
  </fieldset>
  
  <div class="ion-margin-top ion-text-right forget">
    <a click="forget()">Forgot Password?</a>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block"  type="submit" [disabled]="!login.valid">LOGIN</ion-button>
  </div>

  
</form>
<div class="ion-margin-top ion-text-center">
  <a (click)="dismiss()">Close</a>
</div>
</ion-content>
