<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button style="color: rgb(9, 168, 241);" icon="arrow-undo-outline" defaultHref="/first-page" (click)="tab()">Back</ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding ion-text-center" >
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <img src="../../assets/green.png" class="logo" />

    <div class="title">
       <h1>Welcome ! </h1>
    </div>

    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top" (click)="register()" fill="outline" color="white">SIGN UP</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="login()" color="white">LOGIN</ion-button>
    </div>
</ion-content> 
