
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="title">
    <h4>Forget Password ?</h4>
    <p>Enter email to reset</p>
  </div>
  <fieldset  class="input-item">
    <legend>Email Id</legend> 
    <ion-input type="email" placeholder="name@domain.com"></ion-input>
  </fieldset>

  <div class="ion-margin-top">
    <ion-button  (click)="reset()" expand="block">Reset Password </ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Close</a>
  </div>
</ion-content>
<ion-footer class="mt">

</ion-footer>