<ion-header>
  <ion-toolbar>
    <ion-title>parcel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <img src="../../assets/green.png" class="logo" />
        <ion-card
        *ngFor="let parcel of parcels;"
        (click)="getSensorById(parcel.idParcel)">
          <ion-card-header >
            <ion-item lines="none">
              <p>parcel {{ parcel.idParcel }}</p>
              
            </ion-item>
            <p>field {{ parcel.idField }}</p>
          </ion-card-header>
        </ion-card>
    </ion-row>
  </ion-grid>
</ion-content> 
