<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>Signup</h4>
    <p>Register to get started</p>
  </div>
  <fieldset  class="input-item">
    <legend>Full Name</legend> 
    <ion-input type="" placeholder="Full name"></ion-input>
  </fieldset>
  <fieldset  class="input-item">
    <legend>Email Id</legend> 
    <ion-input type="email" placeholder="name@domain.com"></ion-input>
  </fieldset>
  <fieldset  class="input-item">
    <legend>Password</legend> 
    <ion-input type="password" placeholder="********"></ion-input>
  </fieldset>
  <p>By signing up you're agreed to our Terms & Conditions</p>

  <div class="ion-margin-top">
    <ion-button expand="block" (click)="log()">SIGN UP</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Close</a>
  </div>
</ion-content>
