<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="title">
    <h4>Signup</h4>
    <p>Register to get started</p>
  </div>
  <form [formGroup]="register" (ngSubmit)="signUp()">
  <fieldset  class="input-item">
    <legend>Username</legend> 
    <ion-input type="" formControlName="username" style="color: beige;"></ion-input>
  </fieldset>
  <fieldset  class="input-item">
    <legend>Email</legend> 
    <ion-input type="email" placeholder="name@domain.com" formControlName="email" style="color: beige;"></ion-input>
  </fieldset>
  <fieldset  class="input-item">
    <legend>Password</legend> 
    <ion-input type="password" placeholder="********" formControlName="password" style="color: beige;"></ion-input>
  </fieldset>
  <p>By signing up you're agreed to our Terms & Conditions</p>

  <div class="ion-margin-top">
    <ion-button expand="block" type="submit" [disabled]="!register.valid">SIGN UP</ion-button>
  </div>
</form>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Close</a>
  </div>
</ion-content>
